{{define "charts"}}

<script>
    var cities = L.layerGroup();
    // {{ range .Location }} L.marker([{{.Latitude }}, {{.Longitude }}]).bindPopup({{ .City }}).addTo(cities), {{ end }}
    {{ range .Location }} L.circle([{{.Latitude }}, {{.Longitude }}],
    {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.1,
        radius: 500,
    }).bindPopup({{ .City }}).addTo(cities), {{ end }}
    // L.marker([{{.LastLocation.Latitude }}, {{.LastLocation.Longitude }}]).bindPopup({{.LastLocation.City }}).addTo(cities);
    L.circle([{{.LastLocation.Latitude }}, {{.LastLocation.Longitude }}],{
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 500,
    }).bindPopup({{.LastLocation.City }}).addTo(cities);
    var mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    var grayscale = L.tileLayer(mbUrl, { id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1 }),
        streets = L.tileLayer(mbUrl, { id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1 });
    var map = L.map('map', {
        center: [8.7832, 34.5085],
        zoom: 2,
        maxZoom: 18,
        tileSize: 512,
        zoomOffset: -1,
        layers: [grayscale, cities]
    });
    var baseLayers = {
        "Grayscale": grayscale,
        "Streets": streets,
    };
    var overlays = {
        "Cities": cities
    };
    L.control.layers(baseLayers, overlays).addTo(map);
</script>
<!-- <script>
    var cities = L.layerGroup();

    L.marker([39.61, -105.02]).bindPopup('This is Littleton, CO.').addTo(cities),
        L.marker([39.74, -104.99]).bindPopup('This is Denver, CO.').addTo(cities),
        L.marker([39.73, -104.8]).bindPopup('This is Aurora, CO.').addTo(cities),
        L.marker([39.77, -105.23]).bindPopup('This is Golden, CO.').addTo(cities);


    var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

    var grayscale = L.tileLayer(mbUrl, {
        id: 'mapbox/light-v9',
        tileSize: 512,
        zoomOffset: -1,
        attribution: mbAttr
    }),
        streets = L.tileLayer(mbUrl, {
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            attribution: mbAttr
        });

    var map = L.map('map', {
        center: [39.73, -104.99],
        zoom: 10,
        layers: [grayscale, cities]
    });

    var baseLayers = {
        "Grayscale": grayscale,
        "Streets": streets
    };

    var overlays = {
        "Cities": cities
    };

    L.control.layers(baseLayers, overlays).addTo(map);
</script> -->
<script>
    var ctx = document.getElementById('HTTPChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{{ range $key, $value:= .HTTPCode }} '{{$key}}', {{ end }}],
    datasets: [{
        label: 'Status Code Count',
        data: [{{ range $key, $value:= .HTTPCode }} '{{$value}}', {{ end }}],
        backgroundColor: [
            'rgb(154, 205, 50)',
            'rgb(43, 70, 117)',
            'rgb(124, 0, 97)',
            'rgb(18, 208, 237)',
            'rgb(223, 41, 95)'
        ],
            borderColor: [
                'rgb(154, 205, 50)',
                'rgb(43, 70, 117)',
                'rgb(124, 0, 97)',
                'rgb(18, 208, 237)',
                'rgb(223, 41, 95)'
            ],
                borderWidth: 3
            }]
        },
    options: {
        legend: {
            position: 'right',
            align: 'center'
        },
        title: {
            display: true,
            text: 'Top 5 HTTP Status Code',
            fontColor:'white',
            align:'center'
      }
    }
    });
</script>

<script>
    Chart.defaults.global.elements.line.fill = false;
    var ctx = document.getElementById('HTTPErrorChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{{ range $key, $value:= .HTTPError }} '{{$key}}', {{ end }}],
    datasets: [{
        label: 'Top 5 Error Status Code',
        data: [{{ range $key, $value:= .HTTPError }} '{{$value}}', {{ end }}],
        fill:false,
        // backgroundColor: [
        //     'rgb(255, 99, 132)',
        //     'rgb(54, 162, 235)',
        //     'rgb(255, 206, 86)'
        // ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(100, 150, 180)',
                'rgb(75, 192, 192)'
            ],
                borderWidth: 3,
                pointBackgroundColor: 'rgba(255,150,0,0.5)',
                pointRadius: 5,
                pointHoverRadius: 10,
                pointHitRadius: 30,
                pointBorderWidth: 2,
                pointStyle: 'Rounded'
            }]
        },
    options: {
        legend: {
            display: true,
                labels: {
                fontColor: 'white'
            },
            title:{
                align:'center'
            }
        }
    }
    });
</script>
<script>
    var ctx = document.getElementById('TopCountries').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{{ range $key, $value:= .Countries }} '{{$key}}', {{ end }}],
            datasets: [{
                label: 'Visited Count',
                data: [{{ range $key, $value:= .Countries }} '{{$value}}', {{ end }}],
                backgroundColor: [
                    'rgb(106, 99, 128) ',
                    'rgb(146, 131, 128)',
                    'rgb(146, 96, 232)',
                    'rgb(129, 211, 255)',
                    'rgb(87, 231, 197)',
                    'rgb(89, 191, 188)',
                    'rgb(107, 177, 78)',
                    'rgb(100, 100, 100)',
                    'rgb(100, 150, 180)',
                    'rgb(75, 192, 192)'
                ],
                borderColor: [
                'rgb(106, 99, 128) ',
                    'rgb(146, 131, 128)',
                    'rgb(146, 96, 232)',
                    'rgb(129, 211, 255)',
                    'rgb(87, 231, 197)',
                    'rgb(89, 191, 188)',
                    'rgb(107, 177, 78)',
                    'rgb(100, 100, 100)',
                    'rgb(100, 150, 180)',
                    'rgb(75, 192, 192)'
                ],
                borderWidth: 3
            }]
        },
        options: {
            legend: {
                // display: true,
                //     labels: {
                //     fontColor: 'rgb(255, 99, 132)'
                // },
                position: 'right',
                align: 'center',
        },
        title: {
            display: true,
            text: 'Top 10 Visited Countries',
            fontColor:'white',
            align:'center'
      }
    }
    });
</script>
</script>

<script>
    var ctx = document.getElementById('IPChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{{ range $key, $value:= .TopIPS }} '{{$key}}', {{ end }}],
    datasets: [{
        label: 'Times Visited',
        data: [{{ range $key, $value:= .TopIPS }} '{{$value}}', {{ end }}],
        backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 206, 86)',
            'rgb(75, 192, 192)',
            'rgb(153, 102, 255)',
            'rgb(255, 159, 64)',
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 206, 86)',
            'rgb(75, 192, 192)',
        ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)',
                'rgb(153, 102, 255)',
                'rgb(255, 159, 64)',
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)',
            ],
                borderWidth: 3
    }]
        },
    options: {
        legend: { display: false },
        title: {
            display: true,
            text: 'Top 10 Most Visited IP',
            fontColor:'white',
            align:'center'
      }
    }
    });
</script>
<script>
    var ctx = document.getElementById('ReferrerChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{{ range $key, $value:= .Referrer }} '{{$key}}', {{ end }}],
    datasets: [{
        label: 'Top 10 Referrer URLS',
        data: [{{ range $key, $value:= .Referrer }} '{{$value}}', {{ end }}],
        backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 206, 86)',
            'rgb(75, 192, 192)',
            'rgb(153, 102, 255)',
            'rgb(255, 159, 64)',
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 206, 86)',
            'rgb(75, 192, 192)'
        ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)',
                'rgb(153, 102, 255)',
                'rgb(255, 159, 64)',
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)'
            ],
                borderWidth: 3
    }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
</script>

<script>
    var ctx = document.getElementById('DeviceChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{{ range $key, $value:= .Methods }} '{{$key}}', {{ end }}],
    datasets: [{
        label: 'Top 3 used methods',
        data: [{{ range $key, $value:= .Methods }} '{{$value}}', {{ end }}],
        backgroundColor: [
                'rgb(75, 192, 192)',
                'rgb(153, 102, 255)',
                'rgb(255, 159, 64)'
        ],
            borderColor: [
                'rgb(75, 192, 192)',
                'rgb(153, 102, 255)',
                'rgb(255, 159, 64)'
            ],
                borderWidth: 3
            }]
        },
    options: {
        legend: {
            display: true,
                labels: {
                fontColor: 'rgb(255, 99, 132)'
            },
            position: 'right',
            align: 'center'
        }
    }
    });
</script>
<script>
    var ctx = document.getElementById('BotsChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{{ range $key, $value:= .Bots }} '{{$key}}', {{ end }}],
    datasets: [{
        label: 'Top 5 Bots Running on Website',
        data: [{{ range $key, $value:= .Bots }} '{{$value}}', {{ end }}],
        backgroundColor: [
            'rgb(255, 159, 64)',
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 206, 86)',
            'rgb(75, 192, 192)'
        ],
            borderColor: [
                'rgb(255, 159, 64)',
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 206, 86)',
                'rgb(75, 192, 192)'
            ],
                borderWidth: 3
    }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
</script>
{{end}}