<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytic Dashboard(Log-Parser)</title>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</head>
<body>
    <h1>
        {{.TotalHits}}
    </h1>
    <span>
        Website Hits
    </span>
    <!-- <h1>Visited IP LIST</h1>
    {{range $i := .VisitedIP}}
        <p>{{$i}}</p>
    {{end}} -->
    <script>
    </script>
</body>
</html>