{{define "sidebar"}}
<div class="col-lg-2 bg-dark text-white" style="max-height: 100%;">
    <div class="d-block p-2">
        <div class="d-inline p-1"><i class="fa fa-bar-chart" style="font-size:15px"></i></div>
        <a href="/"><div class="d-inline p-1"><span style="font-size:15px;">Dashboard</span></div></a>
    </div>
    <div class="d-block p-2">
        <div class="d-inline p-1"><i class="fa fa-line-chart" style="font-size:15px"></i></div>
        <a href="/user"><div class="d-inline p-1"><span style="font-size:15px;">User World Map</span></div></a>
    </div>
</div>
{{end}}