{{define "sidebar"}}
<div class="col-lg-2 text-white" style="background-color:rgb(29,85,113);max-height: 100%;">
    <div class="d-block p-2">
        <div class="d-inline p-1"><i class="fa fa-bar-chart" style="font-size:15px"></i></div>
        <div class="d-inline p-1"><span style="font-size:15px;">Dashboard</span></div>
    </div>
    <div class="d-block p-2">
        <div class="d-inline p-1"><i class="fa fa-line-chart" style="font-size:15px"></i></div>
        <div class="d-inline p-1"><span style="font-size:15px;">Analytics Report</span></div>
    </div>
</div>
{{end}}